<%- include('_header') %>
    <center>
      <div style="font-family: Helvetica">
        <br />
        <h2>⛔</h2>
        <h2><%=__('User or Password Invalid') %></h2>
        <h4>
          <%=__('Please enter the correct user or password to contiue') %>
        </h4>
        <br />
        <button>
          <a href="/login" style="text-decoration: none"
            ><%=__('Try again') %></a
          >
        </button>
        <br />
        <hr />
      </div>
    </center>
  
</html>
